body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
}

.login-box {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

p {
    text-align: left;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="checkbox"],
select {
    width: calc(100% - 10px);
    padding: 10px;
    border: none;
    background-color: #444;
    color: #fff;
}

.btn {
    width: 100%;
    padding: 10px 20px;
    background-color: #d2d2d2;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn {
    width: 10%;
    position: absolute;
    top: 20px;
    right: 20px;
}


.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.birthday-input-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.birthday-input-group label {
    flex: 1;
    margin-right: 10px;
}

.gender-buttons {
    display: flex;
    justify-content: space-between;
    color: black;
}

.gender-btn {
    flex: 1;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gender-btn:first-child {
    margin-right: 10px;
}
